<section class="steps-section" id="how_it_works">
  <h2 class="text-steps">
    To order your vegetable basket, simply follow these easy steps
  </h2>
  <div class="picture-img">
    <picture class="broccoli">
      <source
        srcset="
          /img/steps/vegetables-1x-desktop-min.png 1x,
          /img/steps/vegetables-2x-desktop-min.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/steps/vegetables-1x-tabl-min.png 1x,
          /img/steps/vegetables-2x-tabl-min.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          img/steps/vegetables-1x-mob-min.png  1x,
          img/steps/vegetables-1x-tabl-min.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="/img/steps/vegetables-1x-desktop-min.png"
        alt="Fresh Broccoli"
      />
    </picture>
  </div>
  <div class="paragraf-steps">
    <p class="steps-text-first">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home.
    </p>
    <p class="steps-text-second">
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit
      baskets are the perfect choice.
    </p>
  </div>
</section>
