<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo link">WEB<span>Studio</span></a>

      <ul class="header-menu list">
        <li class="header-menu-item">
          <a class="header-menu-link current link" href="./index.html"
            >Studio</a
          >
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="./portfolio.html">Portfolio</a>
        </li>
        <li class="header-menu-item">
          <a class="header-menu-link link" href="">Contacts</a>
        </li>
      </ul>
    </nav>

    <!----------------------ADRESS---------------------------------->
    <address class="address">
      <ul class="header-adr list">
        <li class="header-menu">
          <a class="adres-link link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
        <li class="header-menu">
          <a class="adres-link link" href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
  </div>
</header>
