<section class="hero">
  <div class="hero-container">
    <ul class="reviews-list">
      <li class="reviews-item">
        <picture>
          <source
            srcset="./img/Hero/reviews.png 1x, ./img/Hero/reviews2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/Hero/reviews-tab.png   1x,
              ./img/Hero/reviews-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Hero/reviews-mob.png   1x,
              ./img/Hero/reviews-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="reviews-img"
            src="./img/Hero/reviews-mob.png"
            alt="photo-reviews"
            width=""
            height=""
          />
        </picture>
      </li>
      <li class="reviews-item">
        <picture>
          <source
            srcset="./img/Hero/reviews-2.png 1x, ./img/Hero/reviews-2-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/Hero/reviews2-tab.png   1x,
              ./img/Hero/reviews2-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Hero/reviews2-mob.png   1x,
              ./img/Hero/reviews2-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="reviews-img"
            src="./img/Hero/reviews2-mob.png"
            alt="photo-reviews"
            width=""
            height=""
          />
        </picture>
      </li>
      <li class="reviews-item">
        <picture>
          <source
            srcset="./img/Hero/reviews-3.png 1x, ./img/Hero/reviews-3-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/Hero/reviews3-tab.png   1x,
              ./img/Hero/reviews3-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Hero/reviews3-mob.png   1x,
              ./img/Hero/reviews3-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
          class="reviews-img"
          src="./img/Hero/reviews3-mob.png"
          alt="photo-reviews"
          width=""
          height=""
        />
        </picture>
      </li>
      <li class="reviews-item"><span>2k</span> reviews</li>
    </ul>
    <div class="wrapper">
      <div class="hero-wrapper">
        <h1 class="hero-title">
          organic <span>vegetables</span> to your diet today!
        </h1>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <button class="hero-btn" type="button">shop now</button>
      </div>
      <div class="hero-container-img">
        <picture>
          <source
            srcset="./img/Hero/hero-img.png 1x, ./img/Hero/hero-img2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/Hero/hero-img-tab.png   1x,
              ./img/Hero/hero-img-tab2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/Hero/hero-img-mob.png   1x,
              ./img/Hero/hero-img-mob2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="hero-img"
            src="../img/Hero/hero-img-mob.png"
            width=""
            height=""
            alt="Girl"
          />
        </picture>
      </div>
    </div>

    <div class="hashtag-container">
      <ul class="hashtag-list">
        <li class="hashtag-item"><a href="">#organic</a></li>
        <li class="hashtag-item"><a href="">#products</a></li>
      </ul>
      <ul class="hashtag-list">
        <li class="hashtag-item"><a href="">#basket</a></li>
        <li class="hashtag-item"><a href="">#vegetables</a></li>
      </ul>
    </div>
  </div>
</section>
