<section class="buy-guide">
  <div class="buy-guide-container">
    <div class="steps-container">
      <h2 class="buy-guide-title">3 Easy Steps for Buying Fresh Vegetables</h2>
      <ol class="buy-guide-list">
        <li class="buy-guide-item">
          <p class="buy-guide-text">
            Just choose the vegetable you want to order by clicking on the
            checkboxes next to it.
          </p>
        </li>
        <li class="buy-guide-item">
          <p class="buy-guide-text unique-size">
            Click on the basket and fill out the form.
          </p>
        </li>
        <li class="buy-guide-item">
          <p class="buy-guide-text">
            Sit back and relax! Your fresh vegetables basket will be delivered.
          </p>
        </li>
      </ol>
    </div>
    <picture>
      <source
        srcset="
          ./img/how-it-works-images/girl-with-leaf-desktop.png   1x,
          ./img/how-it-works-images/girl-with-leaf-desktop2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/how-it-works-images/girl-with-leaf-tablet.png   1x,
          ./img/how-it-works-images/girl-with-leaf-tablet2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/how-it-works-images/girl-with-leaf-mob.png   1x,
          ./img/how-it-works-images/girl-with-leaf-mob2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="buy-guide-image"
        src="./img/how-it-works-images/girl-with-leaf-mob.png"
        alt="girl with leaf picture"
        height="319px"
        width="258px"
      />
    </picture>
  </div>
</section>
