<!-- *** menu-mobile *** -->
<div class="mob-menu is-hidden" data-menu id="mobile-menu">
  <div class="box">
    <div class="overlay">
      <div class="header-container">
        <a href="/index.html" class="logo-text">
          <span>
            <svg class="logo-icon" width="16" height="16">
              <use href="/img/icons.svg#icon-logo"></use>
            </svg>
          </span>
          Veggieboost
        </a>
        <button type="button" class="mobile-menu-close" data-menu-close>
          <svg class="mobile-menu-close-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <ul class="mob-menu-list" data-menu-close1>
    <li>
      <a href="#how_it_works" class="mob-menu-link">How It Works</a>
    </li>
    <li>
      <a href="#vegetables" class="mob-menu-link">Vegetables</a>
    </li>
    <li>
      <a href="#contacts" class="mob-menu-link">Contacts</a>
    </li>
    <li class="mob-menu-link">
      <button type="button" class="korzina-icons" data-modal-open>
        <svg class="menu-ico-shop" width="24" height="24">
          <use href="./img/icons.svg#icon-shopping"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
