<!-- *** menu-mobile *** -->
<div class="mob-menu is-hidden" data-menu>

    <button type="button" class="close-menu-btn" data-menu-close>
        <svg class="mob-menu-burg-ico" width="8" height="8">
            <use href="../img/icons.svg#icon-close"></use>
        </svg>
    </button>

    <ul class="mob-menu-list">
        <li>
            <a href="./index.html" class="mob-menu-link">How It Works</a>
        </li>
        <li>
            <a href="#vegetables" class="mob-menu-link">Vegetables</a>
        </li>
        <li>
            <a href="#contacts" class="mob-menu-link">Contacts</a>
        </li>
        <li class="mob-menu-link"> <a class="korzina-icons" href="#"> <svg class="menu-ico-shop" width="24" height="24">
                    <use href="../img/icons.svg#icon-shopping"></use>
                </svg></a>
        </li>
    </ul>

</div>