<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div>
        <h2>To order your vegetable basket, simply follow these easy steps</h2>
        <ul>
          <li>
            <img
              srcset="../img/vegetables-1x.png 1x, ../img/vegetables-2x.png 2x"
              src="../img/vegetables-1x.png"
              alt="vegetables"
              width="335"
              height="158"
            />
          </li>
          <li>
            <p>
              Our baskets are assembled with care and delivered straight to your
              doorstep, so you can enjoy the taste of fresh fruit without ever
              leaving your home.
            </p>
          </li>
          <li>
            <p>
              Whether you're looking for a healthy snack or a thoughtful gift,
              our fruit baskets are the perfect choice.
            </p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
