<section class="vegatables">
    <div class="vegatables-container conntainer">
        <h2 class="vegetables-title">oRGANIC vegetables</h2>
        <p class="vegatables-paragraph">Our organic vegetables are hand-picked from local farms and delivered straight
            to your doorstep, ensuring that you get
            the freshest and most nutritious produce possible.</p>
        <ul class="vegatables-list">
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Carrot</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/carrot.png" alt="carrot">
                <p class="vegatables-list-price">100 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Brussel sprouts</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/brussel.png" alt="brussel sprouts">
                <p class="vegatables-list-price">80 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Tomato</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/tomato.png" alt="tomato">
                <p class="vegatables-list-price">40 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Eggplant</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/eggplant.png" alt="eggplant">
                <p class="vegatables-list-price">60 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Sweet potatoes</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/potatoes.png" alt="sweet potatoes ">
                <p class="vegatables-list-price">80 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Leek</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/leek.png" alt="leek">
                <p class="vegatables-list-price">50 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Mushrooms</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/mushrooms.png" alt="mushrooms">
                <p class="vegatables-list-price">40 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Corn</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/corn.png" alt="corn">
                <p class="vegatables-list-price">60 UAH / kg</p>
            </li>
            <li class="vegatables-list-item">
                <h3 class="vegatables-list-title">Radish</h3>
                <p class="vegatables-list-paragraph">Plant</p>
                <img class="vegatables-image" src="/img/radish.png" alt="radish">
                <p class="vegatables-list-price">90 UAH / kg</p>
            </li>
        </ul>
        <button class="vegatables-button" type="button"></button>
    </div>
</section>