<section class="vegatables" id="vegatables">
  <div class="vegatables-container">
    <h2 class="vegetables-title">ORGANIC VEGETABLES</h2>
    <p class="vegatables-paragraph">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegatables-list">
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Carrot</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image carrot"
            src="/img/carrot.png"
            srcset="/img/carrot.png 1x, /img/carrot2x.png 2x"
            alt="carrot"
          />
        </div>
        <p class="vegatables-list-price">100 UAH / kg</p>
      </li>
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Brussel sprouts</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image brussel"
            src="/img/brussel.png"
            srcset="/img/brussel.png 1x, /img/brussel2x.png 2x"
            alt="brussel sprouts"
          />
        </div>
        <p class="vegatables-list-price">80 UAH / kg</p>
      </li>
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Tomato</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image tomato"
            src="/img/tomato.png"
            srcset="/img/tomato.png 1x, /img/tomato2x.png 2x"
            alt="tomato"
          />
        </div>
        <p class="vegatables-list-price">40 UAH / kg</p>
      </li>
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Eggplant</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image eggplant"
            src="/img/eggplant.png"
            srcset="/img/eggplant.png 1x, /img/eggplant2x.png 2x"
            alt="eggplant"
          />
        </div>
        <p class="vegatables-list-price">60 UAH / kg</p>
      </li>
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Sweet potatoes</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image potatoes"
            src="/img/potatoes.png"
            srcset="/img/potatoes.png 1x, /img/potatoes2x.png 2x"
            alt="sweet potatoes "
          />
        </div>
        <p class="vegatables-list-price">80 UAH / kg</p>
      </li>
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Leek</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image leek"
            src="/img/leek.png"
            srcset="/img/leek.png 1x, /img/leek2x.png 2x"
            alt="leek"
          />
        </div>
        <p class="vegatables-list-price">50 UAH / kg</p>
      </li>
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Mushrooms</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image mushrooms"
            src="/img/mushrooms.png"
            srcset="/img/mushrooms.png 1x, /img/mushrooms2x.png 2x"
            alt="mushrooms"
          />
        </div>
        <p class="vegatables-list-price">40 UAH / kg</p>
      </li>
      <li class="vegatables-list-item">
        <h3 class="vegatables-list-title">Corn</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image corn"
            src="/img/corn.png"
            srcset="/img/corn.png 1x, /img/corn2x.png 2x"
            alt="corn"
          />
        </div>
        <p class="vegatables-list-price">60 UAH / kg</p>
      </li>
      <li class="vegatables-list-item non-vedo">
        <h3 class="vegatables-list-title">Radish</h3>
        <p class="vegatables-list-paragraph">Plant</p>
        <div class="card">
          <img
            class="vegatables-image radish"
            src="/img/radish.png"
            srcset="/img/radish.png 1x, /img/radish2x.png 2x"
            alt="radish"
          />
        </div>
        <p class="vegatables-list-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="vegatables-button" type="button" data-modal-open>
      <svg class="vegetables-icon" width="14" height="14">
        <use href="/img/icons.svg#icon-order"></use>
      </svg>
      ORDER
    </button>
  </div>
</section>
