<section class="container call-section">
  <div class="call-container">
    <h2 class="call-title">Fresh Harvest Box has got you covered</h2>
    <p class="call-paragraph">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form class="call-form">
      <input
        type="number"
        name="number-input"
        id="number-input"
        placeholder="+380 ()"
        class="call-input"
      />
      <button type="submit" class="recall-btn">Recall</button>
    </form>
    <img
      srcset="/img/img-girl.png 1x, /img/img-girl-2x.png 2x"
      src="/img/img-girl.png"
      alt="Girl with broccoli"
      width="335"
      height="357"
      class="call-you-img"
    />
    <img
      srcset="/img/img-girl-tab.png 1x, /img/img-girl-tab-2x.png 2x"
      src="/img/img-girl-tab.png"
      alt="Girl with broccoli"
      width="629"
      height="446"
      class="call-tab-img"
    />
  </div>
</section>
