<section class="recall">
  <div class="recall-container">
    <div class="recall-wi-box">
      <div class="recall-text-box">
        <h2 class="recall-title">Fresh Harvest Box has got you covered</h2>
        <p class="recall-text">
          Our boxes are packed with delicious, nutritious vegetables, perfect
          for anyone looking to eat healthier or support local farmers. Order
          your box today and start enjoying the best that nature has to offer!
        </p>
      </div>
      <form class="recall-form">
        <input
          type="tel"
          placeholder="+380 ()"
          minlength="10"
          class="recall-input"
        />
        <button class="recall-btn">Recall</button>
      </form>
    </div>
    <img
      srcset="
        /img/we-will-call-you/img-girl.png    1x,
        /img/we-will-call-you/img-girl-2x.png 2x
      "
      src="/img/we-will-call-you/img-girl.png"
      alt="Girl with brocolli"
      width="335"
      height="357"
      class="recall-img"
    />
    <img
      srcset="
        /img/we-will-call-you/img-girl-tab.png    1x,
        /img/we-will-call-you/img-girl-tab-2x.png 2x
      "
      src="/img/we-will-call-you/img-girl-tab.png"
      alt="Girl with brocolli"
      width="704"
      height="463"
      class="recall-tab-img"
    />
    <img
      srcset="
        /img/we-will-call-you/img-girl-dec.png    1x,
        /img/we-will-call-you/img-girl-dec-2x.png 2x
      "
      src="/img/we-will-call-you/img-girl-dec.png"
      alt="Girl with brocolli"
      width="525"
      height="499"
      class="recall-dec-img"
    />
  </div>
</section>
