.container-main-footer {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0px 20px;
}



/* footer */

.footer {
    padding: 80px 0px;
    background-color: #EAF7E5;

}

.logo-link {
    text-decoration: none;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.logo-name-footer {
    color: var(--main-text-color);
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    max-width: 94px;
}






.menu-footer-link {
    color: var(--main-text-color);
    text-align: center;
    font-size: 14px;

    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.04em;

}

.menu-footer {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu-social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.menu-social-icon {
    fill: var(--main-text-color);
    width: 24px;

}










.menu-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--main-text-color);
}

.footer-contact-tel {
    color: var(--main-text-color);
    text-align: center;
    font-size: 14px;

    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
}

.footer-contact-adress {
    color: var(--main-text-color);
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    width: 135px;
    margin: 0 auto;
    height: 54px;
}

.footer-adress-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.container-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-vegetables-logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}





@media screen and (min-width: 375px) {
    .container-main-footer {
        max-width: 375px;

    }

}

@media screen and (min-width: 768px) {
    .container-main-footer {
        min-width: 768px;
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;

    }

    .footer {
        display: flex;
        padding: 80px 0px;
    }


    .footer-contact-wrapper {
        text-align: left;
    }

    .footer-contact-adress {
        width: 173px;
        text-align: left;
        height: 54px;
        color: #141414;
        font-size: 18px;

        font-style: normal;
        font-weight: 400;
        line-height: 1.33;
        letter-spacing: -0.02em;
    }

    .menu-social-icon {
        width: 28px;
        height: 28px;
    }








    .menu-social-icon:hover,
    .menu-social-icon:focus {
        fill: #A1C487;
        background-color: white;
    }








    .menu-social-list {
        width: 44px;
        height: 44px;
    }

    .footer-contact-tel {
        color: var(--main-text-color);

        font-size: 18px;

        font-style: normal;
        font-weight: 400;
        line-height: 1.33;
        text-transform: uppercase;
    }

    .menu-footer {
        margin-bottom: 0px;
    }

    .menu-social-footer {
        justify-content: flex-start;
    }


}



@media screen and (min-width: 1280px) {
    .container-main-footer {
        max-width: 1280px;
        padding-right: 142px;

    }

    .container-left {
        flex-direction: row;
        gap: 166px;

    }

    .menu-footer {
        margin-bottom: 0px;


    }

    .menu-footer {
        margin-top: 0px;
        /* padding-top: 84px; */
    }
}


/* .container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

.footer {
    padding: 80px 20px;
    background-color: #EAF7E5;

}

.logo-link {
    text-decoration: none;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.logo-name {
    color: #141414;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    max-width: 94px;
}



.footer-image {


    margin-bottom: 8px;

}

.menu-footer-link {
    color: #141414;
    text-align: center;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.56px;

}

.menu-footer {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu-social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.menu-social-icon {
    fill: #141414;
    width: 24px;

}

.menu-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #141414;
}

.footer-contact-tel {
    color: #141414;
    text-align: center;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-contact-adress {
    color: #141414;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.28px;
    width: 135px;
    margin: 0 auto;
    height: 54px;
}

.footer-adress-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.container-right {
    display: flex;
    flex-direction: column;
}

.container-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;

    }

}

@media screen and (min-width: 768px) {
    .container {

        max-width: 768px;

        display: flex;
        justify-content: space-between;
    }

    .footer {
        display: flex;
        padding: 80px 32px;
    }

    .footer-contact-wrapper {
        text-align: left;
    }

    .footer-contact-adress {
        width: 135px;
        text-align: left;
        height: 54px;
    }

    .menu-social-icon {
        width: 28px;
        height: 28px;
    }

    .menu-social-list {
        width: 44px;
        height: 44px;
    }

    .footer-contact-tel {
        color: #141414;

        font-size: 18px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 1.33;
        text-transform: uppercase;
    }

    .footer-contact-adress {


        font-family: DM Sans;
        font-size: 18px;

        font-weight: 400;
        line-height: 1.33;
        letter-spacing: -0.36px;
        width: 173px;
        height: 72px;
        text-align: left;

    }

    .footer-image {
        margin-bottom: 20px;
    }
} */