.header {
  background: #fff;
  /* margin-bottom: 812px; */
  position: sticky;
  top: 0;
  /* z-index: 1; */
  /* position: fixed;
  width: 100%; */
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ! ***************************************** */
.mob-menu {
  /* min-width: 428px; */
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0px;
  background: #a1c487;
  /* background: #ffffff; */
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  z-index: 7;
}

.mob-menu .is-hidden {
  transform: translateX(100%);
  visibility: visible;
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin: 0 auto;
  width: 100%;
  padding: 13px 20px;
  left: 0px;
}
.box {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* background: #fff; */
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
}
.close-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background: rgba(231, 233, 252, 0.1);
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: #a1c487;
  border: #a1c487;
}
.mobile-menu-close {
  stroke: #a1c487;
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}
.open-menu-btn {
  background: transparent;
  border: none;
  padding: 0%;
  /*  */
  position: absolute;
  right: 20px;
}
.mob-menu-burg-ico {
  fill: #77ac63;
}
.mob-menu-ico-close {
  stroke: #77ac63;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 124px;
  /* padding-bottom: 0px; */
}
.mob-menu-link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.11; */
  line-height: calc(18 / 14);
  letter-spacing: -0.56px;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
.mob-box {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.menu-ico-shop {
  stroke-width: 1.6px;
  /* stroke: #fff;
  background-color: transparent; */
  fill: transparent;
  stroke: #fff;
}
.korzina-icons {
  background: transparent;
}
@media screen and (min-width: 768px) {
  /********** for menu **********/
  .open-menu-btn {
    display: none;
  }
  .header-menu-open-icon {
    display: none;
  }
  .mobile-menu-open {
    display: none;
  }
  /* .hide {
    display: none;
  } */
  /********** for menu **********/
  /* <!-- test_2 ----> */
}
