.scroll-up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 4px solid var(--btn-background-color);
  border-radius: 50%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-up-icon {
  fill: var(--btn-background-color);
}
.scroll-up-btn.show {
  opacity: 1;
}
.scroll-up-btn:hover,
.scroll-up-btn:focus {
  border: 4px solid var(--background-dark-color);
}

@media screen and (min-width: 1280px) {
  .scroll-up-btn {
    width: 50px;
    height: 50px;
    border: 5px solid var(--btn-background-color);
  }
}
