/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../../node_modules/normalize.css/normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./sections/sections-hero.css');
@import url('./sections/sections-how-it-works.css');
@import url('./sections/sections-vegetables.css');
@import url('./sections/sections-we-will-call-you.css');
@import url('./footer.css');

:root {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  font-style: normal;
  color: #141414;
  background-color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
