.vegatables {
    padding:0 0 80px 0;
    background-color: #fff;
}

.vegatables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;

}

.conntainer {}

.vegetables-title {
    color: var(--main-text-color);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.96px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.vegatables-paragraph {
    color: var(--main-text-color);
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 40px;
}

.vegatables-list {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.vegatables-list-item {
    padding: 40px 0 20px 20px;
    border-radius: 20px;
    background-color: var(--background-light-color);
}

.vegatables-list-title {
    color: var(--main-text-color);
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
}

.vegatables-list-paragraph {
    color: var(--main-text-color);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
}

.card{
/* min-width: 299px;
min-height: 249px; */
display: flex;
justify-content: center;
}

.vegatables-image {
    width: unset;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 81px 15px 0px rgba(20, 20, 20, 0.3); */
}

.vegatables-list-price {
    color: #141414;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.56px;
}

.vegatables-button {
    background-color: var(--btn-background-color);
    width: 80px;
    height: 80px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    border-radius: 50%;
    border: none;
}