.vegatables {
    padding:0 0 80px 0;
    background-color: #fff;
}

.vegatables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto;
}


.vegetables-title {
    width: 100%;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    color: var(--main-text-color);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.96px;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.vegatables-paragraph {
    width: 100%;
    color: var(--main-text-color);
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 40px;
}

.vegatables-list {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.vegatables-list-item {
    width: 100%;
    padding: 40px 18px 20px 18px;
    border-radius: 20px;
    background-color: var(--background-light-color);
}

.vegatables-list-title {
    color: var(--main-text-color);
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
}

.vegatables-list-paragraph {
    color: var(--main-text-color);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;
}

.card{
    max-height: 249px;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
    background: transparent;
}


.vegatables-image {
    width: unset;
    height: unset;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 120px 15px -70px rgba(20, 20, 20, 0.3); */
}

.vegatables-list-price {
    color: #141414;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.vegatables-button {
    background-color: var(--btn-background-color);
    width: 80px;
    height: 80px;
    transform: rotate(-14deg);
    color: var(--white-text-color);
    text-align: center;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    border-radius: 50%;
    border: none;
}

.vegatables-button:hover{
    background-color: var(--background-dark-color);
}

.vegatables-button:focus {
    background-color: var(--background-dark-color);
}

.vegetables-icon{
    fill: var(--white-text-color);
    transform: rotate(14deg);
}
.non-vedo{
    display: none;
}


@media screen and (min-width: 375px) {
.vegatables-container{
    max-width: 375px;
}

    
}


@media screen and (min-width: 768px) {
.vegatables-container{
    max-width: 768px;
    padding: 0 32px;
}

.vegetables-title{
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
}

.vegatables-paragraph{
    max-width: 562px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
}

.vegatables-list{
    width: unset;
}

.card{
    margin-bottom: 32px;
}

.vegatables-list-item{
    width: calc((100% - 20px) /2);
    padding: 64px 24px 24px 24px;
}

.vegatables-list-title{
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1.12px;
}

.vegatables-list-paragraph{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.36px;
}

.vegatables-button{
    width: 114px;
    height: 114px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
}

.vegatables-list-price{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.72px;
}

}

@media screen and (min-width: 1280px) {
.vegatables-container {
    max-width: 1280px;
    }

.vegetables-title{
    font-size: 40px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -1.6px;
}

.vegatables-paragraph{
    letter-spacing: -0.36px;
}

.vegatables-list-item{
    width: calc((100% - 40px) /3);
}

.non-vedo{
    display: unset;
}
}